S3method(predict,constant)
S3method(predict,medley)
export(add.medley)
export(combine.medley)
export(constant)
export(create.medley)
export(loess.fit)
export(logloss)
export(mae)
export(prune.medley)
export(rmse)
